.App{
  overflow: auto;
  background-color: #2F2FA2;
}
.App-header {
  background-color: #F64C72;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #2F2FA2;
  padding:10px;
  width: 100%;
}
.row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 5px;
  margin-right: 5px;

}
.boxes{
  background-color:#242582;  
  color:#FFFFFF;
  flex:1;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  margin: 5px;
  border-radius: 5px;
  text-align: center;
  min-height: max-content;
  justify-content: center;  
}

.boxes a{ color: #FFFFFF; }

.boxes:hover a{
  color: #FFFFFF;
}

.boxes:hover{
  background-color: #f64C72;
  color:#FFFFFF;
}
a{  
  text-decoration: none;
}


